@import '~lanlinker/style/index.less';

.contract {
  .right {
    margin-left: @card-padding-base;
    padding: 16px;
    border: 1px solid @border-color-base;
    .file {
      > .title {
        .h4;
        margin-top: 16px;
      }
    }
  }
}
