@import '../../../style/index.less';

.customCard {
  :global {
    .ant-card-extra {
      padding: 0;
    }
  }
  .tabs {
    :global {
      .ant-tabs-bar {
        margin-bottom: 0;
        > .ant-tabs-extra-content {
          padding-right: @card-padding-base;
        }
        > .ant-tabs-nav-container {
          padding-left: 16px;
          .ant-tabs-tab {
            padding: 17px 16px;
          }
        }
      }
      .ant-tabs-content {
        > .ant-tabs-tabpane {
          padding: @card-padding-base;
        }
      }
    }
  }
}
.customCardMT {
  && {
    margin-top: @padding-lg;
  }
}
.customCardML {
  && {
    margin-left: @padding-lg;
  }
}
