@import '../../../styles/variables.less';

.systemsNav {
  font-size: calc(var(--fontSize, 14px) + 2px);
  display: flex;
  > span {
    padding: 0 17px;
    .hover-background-white;
    > i {
      margin-right: 8px;
    }
  }
}
