@import '~lanlinker/style/index.less';

.userInfo {
  .layout {
    width: 1020px;
    position: relative;
    > .user {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 530px;
      border-left: 1px solid @border-color-base;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .upload {
        margin-top: 20px;
      }
      > .info {
        width: 220px;
        margin-top: 20px;
        p {
          .h4;
          display: flex;
          > span {
            &:first-child {
              flex: 0 0 80px;
            }
          }
        }
      }
    }
  }
  .sex {
    margin-right: 70px;
  }
}

.userInfoFooter {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 20px;
  }
}
