@import '../../../style/index.less';

.userMenu {
  padding: 0 10px;
  color: @text-color-secondary-dark;
  .center;
  .background-dark-hover;
  &:hover {
    color: @text-color-dark;
  }
  .user {
    margin-left: 10px;
  }
}
