@import '~lanlinker/style/index.less';

.userLicense {
  padding-bottom: 50px;
  .type {
    display: flex;
    .title {
      width: 100px;
    }
    .items {
      flex: 1;
      > span {
        display: inline-block;
        margin: 0 15px;
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
    }
  }
  :global {
    .ant-collapse {
      background: none;
      border: none;
      .ant-collapse-item {
        border-bottom: none;
        .ant-collapse-header {
          height: 64px;
          line-height: 40px;
        }
      }
      .ant-collapse-content {
        overflow: visible;
        background: none;
        border-top: none;
        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
  .arrow {
    margin-left: 8px;
    > svg {
      transition: all 0.3s;
    }
  }
  .cardWrapper {
    margin-right: 8px;
    margin-bottom: 8px;
    &:hover {
      box-shadow: 0 0 13px @normal-color;
    }
    .cardContent {
      width: 360px;
      height: 135px;
      padding: 18px 30px 6px;
      background: @menu-bg;
      border: none;
      :global {
        .ant-list-item-meta-title {
          .h4;
        }
      }
      .icon {
        margin-right: 20px;
      }
      .title {
        width: 232px;
        p:nth-of-type(1) {
          font-size: 16px;
          font-weight: bold;
        }
        p:nth-of-type(2) {
          margin-top: 14px;
        }
      }
      img {
        width: 48px;
        height: 48px;
      }
    }
    .cardBottom {
      width: 360px;
      height: 48px;
      background: @descriptions-bg;
      .btn {
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        &:nth-child(n + 2)::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -1px;
          height: 20px;
          border-right: @border-width-base @border-style-base @border-color-base;
        }
      }
    }
  }
  .notApplied {
    opacity: 0.5;
    filter: grayscale(1);
  }
}
